/* Estilo para todo el body es decir toda la página*/
body {
    justify-content: center;
    margin: 2rem;
}

/* Estilo para el teclado que aparece y se seleccionan letras*/
.tablero .Keyboard {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content:center;
}

/* Pt1 es la division que incluye el dibujo del ahorcado y el display de las lineas de las letras desconocidas y adivinadas.*/
#pt1{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  padding-left: 3rem ;
}

/*Estilo de ese grupo de lineas para las letras que no se han adivinado es una lista en verdad*/
.word-display{
  padding: 0;
  display:flex;
  list-style: none;
  margin: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  gap:0.8rem;
}

/*Cuando se acierta una letra, se cambia la linea que mencionaba antes por la letra como tal y tiene el sig. estilo*/
.word-display .letter{
  width:2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  border-bottom: 0.21rem solid black;
}

/*Pt2 es todo lo que incluye pista, intentos, resumen y el teclado*/
#pt2{
  background-color:beige;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  padding:2rem;
  padding-bottom: 1rem;
}

/* los botones del teclado investigue y el where  ayuda a precisar lo que queremos estilar digamos*/
:where(.game-modal,.Keyboard) button{
  height: 3rem;
    border-radius: 0.4rem;
    background-color: #f2f2f2;
    font-size: 1.3rem;
    color: #333;
    border: none;
    box-shadow: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Mas configuraciones de estilo para el boton, se hace el hover tambien es decir cuando pase el puntero por encima*/
.Keyboard button{
  width: calc(100% / 9 - 5px);
  text-transform: uppercase;
}

.Keyboard button[disabled]{
  opacity:0.6;
  pointer-events: none;
}

:where(.game-modal,.Keyboard) button:hover{
  background-color:bisque;
}
  
button {
  margin: 0.3rem;
}
  
/*generalizacion del body, tablero incluye toda la pagina.*/
.tablero {
  display: flex;
  flex-direction:row;
  align-items: center;
  padding:3rem;
}

/*Se hace desaparecer la linea para que se muestre la letra acertada*/
.word-display .letter.guessed{
  border-color: transparent;
  margin: 1 0 35px;

}

/*Todo de game modal es lo referente a los mensajes que salen cuando pierde o gana el usuario.*/
  .game-modal{
    position:fixed;
    left:0;
    opacity: 0;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
    pointer-events: none;
    z-index: 999;

  }
  
  .game-modal .content{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fff;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
  }

  .game-modal.show{
    opacity: 1;
    pointer-events: auto;
  }

  .game-modal img{
    max-width: 130px;
  }

  .game-modal button{
    padding:12px 23px;
    border-radius: 10px;
    cursor: pointer;
    background-color: beige;
  }
  
/*Configuracion para que sea responsive.*/
  @media (max-width: 1300px) {
    .tablero{
        flex-direction: column;
    }
    #pt1{
      padding-top: 0.7rem;
      padding-bottom: 0.6rem;
    }
    .Keyboard button {
      font-size: 1rem;
    }
  }